<div id="login-modale">
  <img src="./../../assets/logo-tipo3.png" alt="logo" />

  <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
    <h1>Login</h1>

    <label for="email">Email:</label>
    <input
      type="text"
      name="email"
      formControlName="email"
      placeholder="Inserisci la tua mail"
    />
    @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched){
      <span class="error-input">Inserisci una mail valida</span>
    }

    <label for="password">Password:</label>
    <input
      type="password"
      name="password"
      formControlName="password"
      placeholder="Inserisci la tua password"
      autocomplete="off"
    />
    @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched){
      <span class="error-input">Inserisci una password valida</span>
    }

    <div>
      <input type="checkbox" name="remember-psw" />
      <label for="remember-psw">Ricorda Password</label>
    </div>

    <button type="submit" [disabled]="!loginForm.valid">ACCEDI</button>

    <p>Non sei Registrato? <a (click)="modalVisible(false)">Clicca Qui!</a></p>

    <span class="x"><a routerLink="/home">X</a></span>
  </form>
</div>
