<footer id="footer">
    <div class="utility-footer">
        <ul>
            <li><a>Condizioni Generali di abbonamento</a></li>
            <li><a>Informativa sulla privacy</a></li>
            <li><a>Normativa sulla privacy in UE e UK</a></li>
            <li><a>Policy sui cookie</a></li>
            <li><a>Pubblicità basata sugli interessi</a></li>
            <li><a>Dispositivi supportati</a></li>
            <li><a>Assistenza</a></li>
            <li><a>Gestisci preferenze</a></li>
            <li>I contenuti e le piattaforme disponibili possono variare in base alla zona geografica.<br>© 2022 LabTV e le sue società collegate. Tutti i diritti sono riservati.</li>
        </ul>
    </div> 
</footer>