<div id="register-modale">
  <img ngSrc="./../../assets/logo-tipo3.png" alt="logo" height="162" width="433" priority="auto" />

  <form id="registerForm" [formGroup]="registerForm" (ngSubmit)="register()">
    <h1>Registrati</h1>

    <label for="username">Username:</label>
    <input
      type="text"
      name="username"
      formControlName="username"
      placeholder="Inserisci un Username"
    />
    @if(registerForm.get('username')?.invalid && registerForm.get('username')?.touched){
      <span class="error-input">Inserisci un Username valido</span>
    }

    <label for="email">Email:</label>
    <input
      type="text"
      name="email"
      formControlName="email"
      placeholder="Inserisci la tua mail"
    />
    @if(registerForm.get('email')?.invalid && registerForm.get('email')?.touched){
      <span class="error-input">Inserisci una mail valida</span>
    }

    <label for="password">Password:</label>
    <input
      type="password"
      name="password"
      formControlName="password"
      placeholder="Inserisci la tua password"
      autocomplete="off"
    />
    @if(registerForm.get('password')?.invalid && registerForm.get('password')?.touched){
      <span class="error-input">
        Inserisci una password valida <br />
        [Min 8 Caratteri, 1 Maiusc, 1 carattere speciale]
      </span>
    }

    <label for="repeatPassword">Ripeti password:</label>
    <input
      type="password"
      name="repeatPassword"
      formControlName="repeatPassword"
      placeholder="Ripeti la tua password"
      autocomplete="off"
    />
    @if(registerForm.hasError('passwordsMismatch')){
      <span class="error-input">Le password non combaciano</span>
    }

    <div>
      <input
        type="checkbox"
        name="privacy"
        formControlName="privacy"
      />
      <label for="privacy" name="privacy" [ngStyle]="{ color: registerForm.get('privacy')?.invalid ? 'red' : 'black'}">
        Ho letto <b>l'informativa</b>
        sulla privacy e accetto le condizioni
      </label>
    </div>

    <button type="submit" [disabled]="!registerForm.valid"> Registrati </button>
    
    <p>Sei già registrato? <a (click)="modalVisible(true)">Fai il Login!</a></p>

    <span class="x"><a routerLink="/home">X</a></span>
  </form>
</div>
