<div id="contact">
  <img src="./../../assets/footer.png" alt="logo-footer" />

  <div class="chi-siamo">
    <form
      action="mailto:contact@labtv.it"
      [formGroup]="contactForm"
      (ngSubmit)="sendEmail()"
    >
      <label for="nome">Nome e Cognome:</label>
      <input
        type="text"
        name="nome"
        placeholder="Inserisci nome e cognome"
        formControlName="nome"
      />

      @if(contactForm.get('nome')?.invalid && contactForm.get('nome')?.touched){
      <span class="error-input">Inserisci una nome/cognome valido</span>
      }

      <label for="email">Email:</label>
      <input
        type="email"
        name="email"
        placeholder="Inserisci la tua mail"
        formControlName="email"
      />

      @if(contactForm.get('email')?.invalid && contactForm.get('email')?.touched){
        <span class="error-input">Inserisci una mail valida</span>
      }

      <label for="tel">Numero Telefonico:</label>
      <input
        type="tel"
        name="tel"
        placeholder="Inserisci il tuo numero"
        formControlName="tel"
      />

      @if(contactForm.get('tel')?.invalid && contactForm.get('tel')?.touched){
        <span class="error-input">Inserisci una numero valido</span>
      }

      <label for="msg">Messaggio:</label>
      <textarea
        name="msg"
        formControlName="msg"
        placeholder="Inserisci il tuo messaggio"
      ></textarea>

      @if(contactForm.get('msg')?.invalid && contactForm.get('msg')?.touched){
        <span class="error-input">Il messaggio deve avere almeno 20 caratteri</span>
      }

      <div>
        <input type="checkbox" name="privacy" formControlName="privacy" />
        <label for="privacy" name="privacy" [ngStyle]="{color: contactForm.get('privacy')?.invalid ? 'red' : 'white'}">
          Ho letto <b>l'informativa</b> sulla privacy e accetto le condizioni
        </label>
      </div>

      <button type="submit" [disabled]="!contactForm.valid"> INVIA </button>
    </form>
  </div>
</div>
