<app-carousel></app-carousel>

<section id="content">

    <!-- <article class="row" infiniteScroll [infiniteScrollDistance]="2" 
    [infiniteScrollThrottle]="2000" [alwaysCallback]="true" (scrolled)="getMovieOnScroll()">
        <h1>I film più popolari</h1>
        <div class="films" *ngFor="let film of movie" name="film">
            <img [src]=film.image [alt]=film.title>
                <a href="javascript:void(0)" [routerLink]="['/film', film.imdbid]" class="play">
                    <h3>{{film.title}}</h3>
                    <span><b>Rating:</b> {{film.imDbRating}}</span>
                    <span><b>Rank:</b> {{film.rank}}</span>
                    <span><b>Anno:</b> {{film.year}}</span>
                </a>
        </div>
    </article> -->
</section>